.BusinessList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4.4rem 10%;
  }

  
#noResults{
  margin:3rem;
  color:#cca353;
  background-color: white;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center
  }