.BusinessList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4.4rem 10%;
}

#noResults {
  margin: 3rem;
  color: #cca353;
  background-color: white;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}
.loading-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-text{
  margin: 2rem;
  color: #cca353;
  background-color: white;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

.loader {
  border: 16px solid #e7e1e1; 
  border-top: 16px solid #cca353; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}