.BusinessList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4.4rem 10%;
  }

  
#noResults{
  margin-top:3rem;
  color:#cca353;
  background-color: white;
  font-style: italic;
  }